{% extends "base.html" %}
{% block content %}
    <h2>Register</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required>
        <br>

        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login_page' %}">Login here</a></p>
{% endblock %}
